<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel est, tenetur nemo saepe quidem, enim quasi laudantium, architecto alias repellat suscipit. Sapiente aliquam ad voluptatibus minima optio aperiam, suscipit numquam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, animi dolorum unde, iure, similique repellendus amet quod officiis aliquid aperiam inventore sequi et quam modi maxime expedita sint fugiat suscipit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ducimus possimus aut repudiandae quod aperiam enim laborum facilis excepturi facere incidunt molestias amet ipsam, odio voluptate, atque, eum aliquam inventore.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dignissimos fugit voluptates, sed sunt odio ducimus impedit magnam, quaerat id omnis vel consequuntur veniam aliquam quo laborum itaque minima. Ipsum!
        <br>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid sapiente odio ex qui illo quos dolorem vero non ipsum eum sequi nulla nam animi laudantium iure dolore tenetur, tempora consectetur.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure omnis vitae repellat, nulla maiores velit exercitationem ut laboriosam quia sed deleniti distinctio suscipit molestias cupiditate? Ipsa debitis sequi officia aliquid.
        <br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam ea repudiandae, commodi dolorum perspiciatis tenetur inventore. Libero blanditiis rem vel nisi ab inventore minima deleniti, dolorum modi adipisci veniam culpa!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse debitis porro aperiam repellendus dolorum nam ex animi tempore eligendi amet ducimus, odit dolorem, officia assumenda? Libero facere tempore commodi expedita!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quaerat accusamus impedit tempora voluptatibus? Dolores minus sed odit praesentium incidunt veniam sunt architecto sequi commodi. Molestias necessitatibus distinctio quisquam hic!
        <br>
    </p>
</div>